---
layout: default
link: "/categories/"
title: 一文博客 - Yiwen | 分类
---

<div class="categories-page">
    <div class="banner-sub" style="background-image: url('http://p3ethm2oh.bkt.clouddn.com/yiwen/banner_05.png')"></div>
    <div class="grid-row">
        <div class="grid-col_6_4 category">
            {% for cate in site.categories %}
            <div class="categ-item">
                <h2 class="categ-item-title" id="{{ cate | first }}">{{ cate | first }}</h2>
                {% for posts in cate %}
                {% capture posts1 %}{{ posts[0] }}{% endcapture %}
                {% capture posts2 %}{{ posts[0].next }}{% endcapture %}
                {% if posts1 != posts2 %}
                <ul class="categ-item-list">
                    {% for post in posts %}
                    {% if post.title %}
                    <li class="categ-item-li">
                        <a class="post-title" href="{{post.url}}" title="{{post.title}}">{{post.title}}</a>
                        {% for tag in post.tags %}
                        <span class="post-tag">{{ tag }}</span>
                        {% endfor %}
                        <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}

                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="grid-col_6_2 side-bar">
            {% include categories.html %}
            {% include tag.html %}
            {% include friends.html %}
            <div class="pic-panel">
                <img src="http://p3ethm2oh.bkt.clouddn.com/yiwen/pic_01.jpg" alt="PIC">
            </div>
        </div>
    </div>
</div>