---
layout: default
---
<div class="grid-row">
    <div class="grid-col_4_3">
        {% for post in paginator.posts %}
        <div class="post-item">
            <h2 class="post-title">
                <a href="{{ post.url }}">{{ post.title }}</a>
            </h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">
                {{ post.subtitle }}
            </h3>
            {% endif %}
            <div class="post-content">
                {{ post.content | strip_html | truncate:200 }}
            </div>
            <div class="post-meta">
                Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%Y-%m-%d" }}
            </div>
        </div>
        {% endfor %}

        <!-- pages -->
        {% if paginator.total_pages > 1 %}
        <ul class="pager">
            {% if paginator.previous_page %}
            <li class="previous">
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
            </li>
            {% endif %}
            {% if paginator.next_page %}
            <li class="next">
                <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</div>
