@charset "utf-8";
/* ====================================================================
		Reset
   ==================================================================== */
* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-box-sizing:border-box;
    	   box-sizing: border-box;
}
body {
	width: 100%;
	height: 100%;
	font-family: "microsoft yahei",sans-serif;
    -webkit-overflow-scrolling: touch; 
    		overflow-scrolling: touch;
}
a,input{
	border: 0;outline: none;
	-webkit-appearance: none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
a, img {
	-webkit-touch-callout: none;  
}
a {
	text-decoration: none;
	color: #666;
}
ul, ol {
	list-style: none;
}

/* ====================================================================
   		Common
   ==================================================================== */
html, body, div, h1, h2, h3, h4, h5, h6 {
	font-family: arial, simsun, sans-serif;
	color: #666;
	font-weight: inherit;
	font-size: 14px;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: #969696; 
    border: thin solid #909090; 
    -webkit-transition: background .25s linear;
    		transition: background .25s linear;  
}
::-webkit-scrollbar-thumb:hover {
    background: #767676;
}
::-webkit-scrollbar-track {
	background-color: #d0d0d0;
	border: 1px solid #c6c6c6;
}
::selection {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
			user-select: none;
}

.w-60 {width: 60%;}
.w-50 {width: 50%;}
.w-40 {width: 40%;}

/* 按钮 */
.btn {
	padding: 12px 15px;
	display: inline-block;
	border-style: solid;
	border-width: 1px;
	border-color: #ccc;
	border-radius: 20px;
	text-align: center;
	-webkit-transition: all ease-in-out .2s;
			transition: all ease-in-out .2s;
}
.btn-link {
	border-color: #24ffaf;
	min-width: 240px;
}
.btn-link:hover {
	background-color: #24ffaf;
	text-indent: 2em;
}
.btn-link-box {
	text-align: center;
	margin: 60px auto;
}
/* ====================================================================
		Nav
   ==================================================================== */
.nav {
	width: 50px;
	height: 50px;
	position: fixed;
	top: 50px;
	right: 40px;
	z-index: 10;
}
@media only screen and (max-width: 640px) {
.nav {
	top: 30px;
	right: 20px;
}
}
.nav-box {
	pointer-events: none;
}
.nav:hover .nav-box {
	pointer-events: auto;
}
.nav:hover .nav-cell {
	-webkit-transform: scale(1);
			transform: scale(1);
}
.nav-cell {
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
	margin-bottom: 16px;
	text-align: center;
	line-height: 50px;
	font-size: 14px;
	color: #fff;
	border-radius: 50%;
	overflow: hidden;
	-webkit-transform: scale(0);
			transform: scale(0);
	-webkit-transition: all .3s;
			transition: all .3s;
}
.nav-key {
	background-color: #24ffaf;
	-webkit-transform: scale(1);
			transform: scale(1);
}
.nav-project { background-color: #fff724; }
.nav-blog { background-color: #fe2079; }
.nav-blaum { background-color: #00d2ff; }
.nav-contact { background-color: #00ff00; }
.key-line {
	display: block;
	position: absolute;
	top: 24px;
	left: 12px;
	width: 26px;
	border-bottom: 2px solid #fff;
}
.key-line:before {
	content: '';
	position: absolute;
	top: -6px;
	left: 0;
	width: 26px;
	border-bottom: 2px solid #fff;
}
.key-line:after {
	content: '';
	position: absolute;
	top: 6px;
	left: 0;
	width: 26px;
	border-bottom: 2px solid #fff;
}
/* ====================================================================
		Banner
   ==================================================================== */
.banner-wrapper {
	position: relative;
	width: 100%;
	height: 680px;
	overflow: hidden;
}
.banner-img {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
}
.title-container {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	display: table;
	text-align: center;
}
.t-middle {
	display: table-cell;
	vertical-align: middle;
}
.logo {
	width: 80px;
	margin-bottom: 20px;
}
.slogan {
	padding: 0 20px;
	font-size: 40px;
	color: #fff;
}

@media screen and (max-width: 640px) {
.slogan {
	padding: 0 20px;
	font-size: 24px;
}
}

/* ====================================================================
		Content
   ==================================================================== */
.content-main .bg-fff {
	background-color: #fff;
}
.content-main {
	width: 100%;
	overflow: hidden;
	background: url(img/body_bg.jpg) no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
}
.home-section {
	position: relative;
	width: 100%;
	min-height: 500px;
	padding: 20px 15px;
	background-color: rgba(255,255,255,.9);
}
.section-inner {
	max-width: 1100px;
	height: 600px;
	margin: 10px auto;
}
.detail {
	height: 100%;
	float: left;
}
.detail-box {
	height: 100%;
	padding: 0 15px;
	display: table;
	text-align: center;
}
.inner-middle {
	display: table-cell;
	vertical-align: middle;
}
.detail h3 {
	font-size: 30px;
	margin-bottom: 20px;
}
.detail p {
	margin-bottom: 20px;
	font-size: 16px;
	line-height: 1.8;
}
.figure {
	float: left;
	position: relative;
	height: 100%;
}
.figure-box {
	position: relative;
	width: 100%;
	height: 100%;
	display: table;
	text-align: center;
}
.framework-outline {
	position: absolute;
	width: 240px;
	height: 480px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	border: 2px solid #ccc;
	background-color: #fff;
	border-radius: 30px;
    box-shadow: 0px 4px 6px #555;
    z-index: 3;
}
.inner-frame {
	position: absolute;
	width: 218px;
	height: 360px;
	top: 60px;
	left: 9px;
	border: 2px solid #ccc;
}
.inner-frame img {
	width: 100%;
	height: 100%;
}
.home-key {
	position: absolute;
	bottom: 9px;
	left: 50%;
	margin-left: -20px;
	width: 40px;
	height: 40px;
	border: 2px solid #ccc;
	border-radius: 50%;
}
.top-line {
	position: absolute;
	top: 28px;
	left: 50%;
	margin-left: -20px;
	width: 40px;
	height: 4px;
	border-radius: 2px;
	background-color: #333;
}
.top-line:before {
	position: absolute;
	top: -1.5px;
	left: -20px;
	content: '';
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background-color: #333;
}
.top-line:after {
	position: absolute;
	top: -16px;
	left: 50%;
	margin-left: -2.5px;
	content: '';
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background-color: #333;
}
.figure-minor {
	position: absolute;
	width: 200px;
	bottom: 52px;
	z-index: 2;
}
.minor-left {
	left: 6%;
}
.minor-right {
	right: 6%;
}
.figure-minor img {
	width: 100%;
	vertical-align: top;
}
/*----- 动画盒子 -----*/
.w-box {
	width: 240px; 
	height: 240px;
	margin: 0 auto;
	position: relative;
	-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
	-webkit-transform: rotateX(15deg) rotateY(30deg);
			transform: rotateX(15deg) rotateY(30deg);
	-webkit-animation: rotate 20s linear infinite;
			animation: rotate 20s linear infinite;
}
@keyframes rotate {
	0% { 
		-webkit-transform: rotateX(0deg) rotateY(0deg);
				transform: rotateX(0deg) rotateY(0deg); 
	}
	100% {
		-webkit-transform: rotateX(360deg) rotateY(360deg);
				transform: rotateX(360deg) rotateY(360deg);
	}
}

/*----- 盒子表面 -----*/
.surface {
	width: 100%; 
	height: 100%;
	position: absolute;
	overflow: hidden;
	text-align: center;
	line-height: 240px;
	font-size: 44px;
	text-shadow: 0 0 4px #fff;
	background-color: #fff;
	border: 1px solid #24ffaf;
	transition: all .6s ease-out;
	background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #fff;
}
.surface img {
	width: 100%;
	height: 100%;
}

/*----- 前面 -----*/
.front {
	-webkit-transform: rotateY(0deg) translateZ(120px);
			transform: rotateY(0deg) translateZ(120px);
	background-image: url(img/Vuejs.png);			
}

/*----- 后面 -----*/
.rear {
	-webkit-transform: rotateY(-180deg) translateZ(120px);
			transform: rotateY(-180deg) translateZ(120px);
	background-image: url(img/Bootstrap.webp);
}

/*----- 左面 -----*/
.left {
	-webkit-transform-origin: left;
			transform-origin: left;
	-webkit-transform: rotateY(-90deg) translateX(-120px);
			transform: rotateY(-90deg) translateX(-120px);
	background-image: url(img/github.gif);
}

/*----- 右面 -----*/
.right {
	-webkit-transform-origin: right;
			transform-origin: right;
	-webkit-transform: rotateY(90deg) translateX(120px);
			transform: rotateY(90deg) translateX(120px);
	background-image: url(img/webpack.svg);
}

/*----- 上面 -----*/
.up {
	-webkit-transform: rotateX(90deg) translateZ(120px);
			transform: rotateX(90deg) translateZ(120px);
}

/*----- 下面 -----*/
.down {
	-webkit-transform: rotateX(-90deg) translateZ(120px);
			transform: rotateX(-90deg) translateZ(120px);
}

/*----- 鼠标HOVER样式 -----*/
.w-box:hover .front {
	-webkit-transform: rotateY(0deg) translateZ(200px);
			transform: rotateY(0deg) translateZ(200px);
}
.w-box:hover .rear {
	-webkit-transform: rotateY(-180deg) translateZ(200px);
			transform: rotateY(-180deg) translateZ(200px);
}
.w-box:hover .left {
	-webkit-transform-origin: left;
			transform-origin: left;
	-webkit-transform: rotateY(-90deg) translateX(-120px) translateZ(80px);
			transform: rotateY(-90deg) translateX(-120px) translateZ(80px);
}
.w-box:hover .right {
	-webkit-transform-origin: right;
			transform-origin: right;
	-webkit-transform: rotateY(90deg) translateX(120px) translateZ(80px);
			transform: rotateY(90deg) translateX(120px) translateZ(80px);
}
.w-box:hover .up {
	-webkit-transform: rotateX(90deg) translateZ(200px);
			transform: rotateX(90deg) translateZ(200px);
}
.w-box:hover .down {
	-webkit-transform: rotateX(-90deg) translateZ(200px);
			transform: rotateX(-90deg) translateZ(200px);
}

/*----- 盒子中心 -----*/
.w-box:before {
	content: '';
	position: absolute;
	width: 120px; 
	height: 120px;
	background-color: #09BB07;
	border-radius: 50%;
	left: 50%; 
	top: 50%;
	margin-left: -60px; 
	margin-top: -60px;
}
.w-box:after {
	content: '';
	position: absolute;
	width: 120px; 
	height: 120px;
	background-color: #09BB07;
	border-radius: 50%;
	left: 50%; 
	top: 50%;
	margin-left: -60px;
	margin-top: -60px;
	-webkit-transform: rotateZ(20deg) rotateY(-90deg);
			transform: rotateZ(20deg) rotateY(-90deg);
}

.travels-box {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.travels-box h3 {
	margin-top: 60px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 30px;
	font-weight: 100;
}
.travels-box p {
	font-size: 16px;
	line-height: 1.8;
}
.album-wrapper {
	width: 100%;
	overflow: hidden;
	margin-top: 40px;
}
.album-inner {
	position: relative;
	overflow: hidden;
	margin-right: -3%;
}
.img-box {
	position: relative;
	float: left;
	width: 30.333333%;
	height: 200px;
	margin-right: 3%;
	border-radius: 8px;
	overflow: hidden;
}
.img-box img {
	width: 100%;
	height: 100%;
	vertical-align: top;
	-webkit-filter: blur(8px);
            filter: blur(8px);
}
.album-tag {
	position: absolute;
	top: 14px;
	left: 14px;
	padding: 2px 4px;
	border-radius: 2px;
	color: #fff;
	z-index: 2;
	background-color: #24FFAF;
}

/* ====================================================================
		Footer
   ==================================================================== */
.footer {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.foot-inner {
	max-width: 1100px;
	margin: 0 auto;
	padding: 20px 15px;
}
.personal-info {
	width: 100%;
	margin-top: 40px;
	overflow: hidden;
}
.contact {
	float: left;
}

.title {
	font-size: 20px;
	margin-bottom: 20px;
}
.icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	overflow: hidden;
	background-color: #00FF00;
	background: url(img/icon.png) no-repeat;
	margin-right: 10px;
}
.icon-github {
	background-position: 0 0;
}
.icon-sina {
	background-position: -64px 0;
}
.icon-github:hover {
	background-position: -32px 0;
}
.icon-sina:hover {
	background-position: -96px 0;
}
.contact p {
	padding-right: 15px;
	margin-top: 20px;
	line-height: 1.6;
	text-align: justify;
}
.attention {
	float: left;
}
.attention-link {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
}
.attention-link:hover {
	color: #24ffaf;
}
.copyright {
	margin: 40px 0;
	font-size: 13px;
	color: #b0b0b0;
	text-align: center;
}
.copyright a {
	color: #b0b0b0;
	margin-left: 4px;
}
.copyright a:hover {
	text-decoration: underline;
}





















