<!-- header -->
    <div id="header" class="header">
        <div class="grid-row header-wrap">
            <div class="grid-col_6_6 header-content clx">
                <div class="logo">
                    <a href="/" rel="bookmark"><img src="{{ site.__IMG__ }}/logo.png" alt="一文博客"></a>
                </div>
                <div class="nav-wrap">
                    <div id="nav_btn" class="nav-button">
                        <span class="nav-btn-icon iconfont icon-nav"></span>
                    </div>
                    <divid id="nav_mask" class="nav-mask"></divid>
                    <div id="nav" class="nav">
                        <ul id="nav_list" class="nav-list">
                            {% for nav in site.navs %}
                            {% if nav.url == page.link %}
                            <li class="nav-item active">
                                <a class="nav-name" href="{{ nav.url }}" rel="bookmark"><span class="{{ nav.title }}-icon"></span>{{ nav.name }}</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-name" href="{{ nav.url }}" rel="bookmark"><span class="{{ nav.title }}-icon"></span>{{ nav.name }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                        <div id="nav_btn_close" class="nav-btn-close">
                            <span class="nav-btn-close-icon">×</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>