@charset "utf-8";

/* 初始化 */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,textarea,p,blockquote,th,td{margin:0;padding:0;font-family:"SimSun","Arial","sans-serif";}
input{-webkit-appearance:none;outline:none}
html,body{color: #757575;;}
body{background:#fff;overflow-x:hidden;font-size: 14px; }
ul,li{list-style:none;}
a,a:link,a:visited{color: #757575;text-decoration:none;}
h1,h2,h3,h4,h5,h6{color: #4c4c4c;;font-weight: normal;}
img{border-style:none;vertical-align: middle;}

/* 浮动清除 */
.clx:after{ content:'.';display:block;clear: both;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0; }
.clx{zoom:1;}

/**
 *  page main css
 *  header
 */

.highlight code {
    font-family: Arial;
    line-height: 1.6;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.grid-row{position:relative;margin:auto}
.grid-row:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.grid-row .grid-col_4_1,.grid-row .grid-col_4_2,.grid-row .grid-col_4_3,.grid-row .grid-col_4_4{float:left;padding-left:10px;padding-right:10px;box-sizing:border-box}
.grid-row .grid-col_4_1{width:25%}
.grid-row .grid-col_4_2{width:50%}
.grid-row .grid-col_4_3{width:75%}
.grid-row .grid-col_4_4{width:100%;float:none;clear:both}
@media screen and (max-width:1550px){
    .grid-row{width:1200px}
}
@media screen and (max-width:1250px){
    .grid-row{width:900px}
}
@media screen and (max-width:950px){
    .grid-row{width:600px}
    .grid-row .grid-col_4_1{width:50%}
    .grid-row .grid-col_4_2{width:100%}
}
@media screen and (max-width:650px){
    .grid-row{width:100%}
    .grid-row .grid-col_4_1{width:100%}
    .grid-row .grid-col_4_2{width:100%}
}

/* header */
.header {
    width: 100%;
    height: 60px;
    background-color: #000;
}