@charset "utf-8";
blockquote,body,dd,div,dl,dt,form,h1,h2,h3,h4,h5,h6,html,input,li,ol,p,td,textarea,th,ul{margin:0;padding:0;font-family:"Helvetica Neue",Helvetica,SimSun,Arial,sans-serif}
input{-webkit-appearance:none;outline:0}
body,html{color:#333;height:100%}
body{background:#fff;overflow-x:hidden;font-size:14px}
li,ul{list-style:none}
a,a:link,a:visited{color:#333;text-decoration:none}
h1,h2,h3,h4,h5,h6{font-weight:400}
img{border-style:none;vertical-align:middle}
.clx:after{content:'.';display:block;clear:both;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0}
.clx{zoom:1}
.highlight code{font-family:Arial;line-height:1.6}
.grid-row{position:relative;margin:auto}
.grid-row:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.grid-row .grid-col_6_1,.grid-row .grid-col_6_2,.grid-row .grid-col_6_3,.grid-row .grid-col_6_4,.grid-row .grid-col_6_5,.grid-row .grid-col_6_6{float:left;padding-left:15px;padding-right:15px;box-sizing:border-box}
.grid-row .grid-col_6_1{width:16.66667%}
.grid-row .grid-col_6_2{width:33.33333%}
.grid-row .grid-col_6_3{width:50%}
.grid-row .grid-col_6_4{width:66.66667%}
.grid-row .grid-col_6_5{width:83.33333%}
.grid-row .grid-col_6_6{width:100%;float:none;clear:both}
@media screen and (max-width:1550px){
.grid-row{width:1024px}
}
@media screen and (max-width:1250px){
.grid-row{width:900px}
}
@media screen and (max-width:950px){
.grid-row{width:600px}
.grid-row .grid-col_6_2{width:100%}
.grid-row .grid-col_6_3{width:100%}
.grid-row .grid-col_6_4{width:100%}
.grid-row .grid-col_6_5{width:100%}
}
@media screen and (max-width:650px){
.grid-row{width:100%}
.grid-row .grid-col_6_2{width:100%}
.grid-row .grid-col_6_3{width:100%}
.grid-row .grid-col_6_4{width:100%}
.grid-row .grid-col_6_5{width:100%}
}
.header{width:100%;height:60px;background-color:#000}
.logo{float:left}
.logo a{display:block;width:100px;line-height:60px;font-size:24px;color:#fff}
.nav{float:right;height:60px}
.nav .nav-list{position:relative;overflow:hidden}
.nav .nav-list .nav-item{float:left;min-width:86px}
.nav-item .nav-name{display:block;line-height:60px;padding:0 10px;text-align:center;font-size:16px;color:#ccc}
.nav .nav-list .active .nav-name{color:#fff}
.footer{width:100%;padding:20px 0}
.footer .footer-content{text-align:center;color:#999;font-size:13px}
.footer .footer-content p{line-height:1.6}
.footer .footer-content .author-link{color:#666}
.footer .footer-content .author-link:hover{text-decoration:underline}
.post-wrap{position:relative;margin:40px 0}
.post-wrap .post-list{margin-top:20px}
.post-wrap .post-list .post-item{position:relative;margin-bottom:15px;padding-bottom:15px;border-bottom:1px solid #f1f1f1}
.post-item .post-img{position:absolute;top:0;right:0;width:120px;height:107px;border-radius:2px;overflow:hidden}
.post-item .post-img img{width:100%;height:100%;vertical-align:middle}
.post-item .has-img{padding-right:140px}
.post-item .post-content .post-title{margin-bottom:8px;line-height:1.4;font-size:17px}
.post-item .post-content .post-title .name{display:inline-block;transition:all .3s linear}
.post-item .post-content .post-title .name:after{display:block;content:'';width:0;height:0;border-bottom:1px solid #000;transition:all .3s linear}
.post-item .post-content .post-title .name:hover{transition:all .3s linear;color:#000}
.post-item .post-content .post-title .name:hover:after{width:100%}
.post-item .post-content .post-desc{margin-bottom:15px;font-size:14px;line-height:1.6;color:#555}
.post-item .post-content .post-meta span{margin-right:6px;color:#999}
.post-item .post-content .post-meta .post-tag{padding:2px 6px;margin-right:4px;background-color:#eee;border-radius:2px;color:#4d4d4c;font-size:12px;white-space:nowrap}
.post-item .post-content .post-meta .post-tag:hover{color:#000}
.pagination{overflow:hidden}
.pagination .page-run{display:block;height:32px;line-height:32px;text-align:center;transition:all .3s linear;color:#333}
.pagination .page-run:hover{color:#000}
.pagination .previous{float:left;padding-right:6px}
.pagination .next{float:right;padding-left:6px}
.article-wrap{margin:40px auto}
.article .article-head{border-bottom:1px solid #f1f1f1}
.article .article-head .art-title{margin-bottom:10px;font-size:22px}
.article .article-head .art-mata{margin-bottom:10px;color:#666}
.article .article-head .art-mata span{margin-right:6px}
.article .article-head .art-mata .post-tag{font-size:13px;padding:2px 6px;background-color:#eee;color:#4d4d4c}
.article .article-head .art-mata .post-tag:hover{color:#000}
.article .article-content{line-height:1.8;padding-top:20px;color:#444}
.article .article-content h1,.article .article-content h2,.article .article-content h3,.article .article-content h4,.article .article-content h5,.article .article-content h6{margin-bottom:10px;font-size:17px}
.article .article-content p,.article .article-content ul,.article .article-content>div{margin-bottom:20px}
.article .article-content img{display:block;margin:15px auto}
.page-prev-and-next{width:100%;padding-top:20px;border-top:1px solid #f1f1f1;white-space:nowrap;overflow:hidden}
.page-prev-and-next .page-next,.page-prev-and-next .page-prev{width:50%;overflow:hidden;text-overflow:ellipsis}
.page-prev-and-next .page-prev{float:right;text-align:right}
.page-prev-and-next .page-next{float:left}
.side-bar{width:100%;min-height:400px;margin:40px 0}
.block-panel{margin-bottom:25px}
.block-panel .block-panel-title{padding-bottom:2px}
.block-panel .block-panel-title.bd-b{border-bottom:1px solid #ddd}
.block-panel .block-panel-title .name{font-size:17px;font-weight:600}
.categories-wrap .categories .cate-list{width:100%;line-height:1.8;margin-top:10px;font-size:14px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.categories-wrap .categories .cate-list .dot{display:inline-block;width:5px;height:5px;margin:0 6px 0 2px;background-color:#888;border-radius:100%;vertical-align:middle}
.categories-wrap .categories .cate-list .name:hover{text-decoration:underline;color:#000}
.categories-wrap .categories .cate-list .num{margin-left:6px;padding:0 6px;border-radius:8px;background-color:#eee;color:#888}
.tag-wrap .tag .tag-item{display:inline-block;height:22px;line-height:22px;padding:0 10px;margin:10px 8px 0 0;border:1px solid #333;border-radius:12px;font-size:13px;color:#333}
.tag-wrap .tag .tag-item:hover{background-color:rgba(0,0,0,.1);color:#000}
.archives-page .archives-list{margin:40px auto}
.archives-page .archives-list .year-title{margin-top:20px}
.archives-page .archives-list .year-arc-item{height:46px;line-height:46px}
.archives-page .archives-list .year-arc-item .art-link{height:inherit;display:block;position:relative;padding-right:150px;border-bottom:1px solid #f1f1f1;transition:all .3s linear}
.archives-page .archives-list .year-arc-item .art-link .name{width:100%;height:inherit;display:inline-block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.archives-page .archives-list .year-arc-item .art-link .date{position:absolute;top:0;right:0;color:#888}
.archives-page .archives-list .year-arc-item .art-link:hover{border-bottom:1px solid #000}
.archives-page .archives-list .year-arc-item .art-link:hover .name{color:#000}
.arc-nav{width:240px;margin:40px auto;padding:15px;border:1px solid #4d4d4c}
.categories-page .category{margin:40px auto}
.categories-page .category .categ-item .categ-item-list .categ-item-li{position:relative;margin:15px 0;padding-right:150px;padding-bottom:15px;border-bottom:1px solid #f1f1f1}
.categories-page .category .categ-item .categ-item-list .categ-item-li .post-title{line-height:1.6;margin-right:8px;transition:all .3s linear}
.categories-page .category .categ-item .categ-item-list .categ-item-li .post-title:hover{color:#000;text-decoration:underline}
.categories-page .category .categ-item .categ-item-list .categ-item-li .post-tag{padding:2px 6px;margin-right:4px;background-color:#eee;border-radius:2px;color:#4d4d4c;font-size:12px;white-space:nowrap}
.categories-page .category .categ-item .categ-item-list .categ-item-li .date{position:absolute;top:0;right:0;color:#888}
.archives-page .side-bar,.article-page .side-bar,.categories-page .side-bar,.home-page .side-bar{padding-left:40px}