---
layout: default
---

<div class="grid-row article-wrap">
    <div class="grid-col_6_4">
        <div class="article">
            <div class="article-head">
                <h1 class="art-title">{{ page.title }}</h1>
                <div class="art-mata">
                    <span>写于 {{ page.date | date: "%Y年%m月%d日" }}</span>
                    <span>@{% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %}</span>
                    {% if page %}
                    {% for tag in page.tags %}
                    <a href="/tags/#{{ tag }}" class="post-tag">{{ tag }}</a>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="article-content">
                {{ content }}
            </div>
            {% include prevAndNext.html %}
        </div>
    </div>
</div>